.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 20px 50px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 200px;
}
.about-section {
  display: flex;
  gap: 80px;
}
.about-left {
  margin: 50px 0px;
  width: 100%;
  height: auto;
}
.about-left img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font: 500;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100.08%);
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/*----------- mobile responsive -----------*/

@media (max-width: 768px) {
  .about {
    display: flex;
    margin: auto;
    gap: 80px;
    margin: 50px 70px;
    align-items: center;
  }
  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }
  .about-title img {
    width: 150px;
    right: -18px;
  }
  .about-section {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 6px;
  }
}
